bin
obj
Debug
Release
*.pdb
/.vs/CalendarApp/FileContentIndex/2d19e548-2563-4c6b-902a-b4a03526328b.vsidx
/.vs/CalendarApp/FileContentIndex/4f23f3ba-3064-49c1-a2e1-3de37fa0369e.vsidx
/.vs/CalendarApp/FileContentIndex/badd8fe8-bd26-41fb-928b-26a0edbecfd5.vsidx
/.vs/CalendarApp/FileContentIndex/e5b4bf77-4c88-4493-8d8b-032be7ef5d7b.vsidx
/.vs/CalendarApp/v17/.suo
/.vs/CalendarApp/v17/DocumentLayout.backup.json
/.vs/CalendarApp/v17/DocumentLayout.json
/.vs/CalenderApp/v17/.wsuo
/.vs/CalenderApp/v17/DocumentLayout.json
/CalendarApp/.vs/CalendarApp.csproj.dtbcache.json
